::placeholder
  color: dodgerblue

h1
  animation-duration: 3s
  animation-name: transition
  animation-iteration-count: infinite

@keyframes transition
  0%
    color: whitesmoke
  50%
    color: black
  100%
    color: whitesmoke
